.container {
    width: 80%;
    margin: auto;
}

header {
    height: 115px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-repeat: repeat;
    background-size: 450px;
}

header img {
    margin-left: 5px;
    height: 60px;
    margin-top: 45px;
}

h1 {
    margin-left: 5px;
    font-size: 46px;
}