header {
    height: 180px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-repeat: repeat-x;
}

header img {
    height: 90px;
    margin-top: 70px;
}

h1 {
    font-size: 60px;
}