.container {
    width: 80%;
    margin: auto;
}

header {
    padding: 10px;
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-repeat: repeat;
    background-size: 450px;
}

header img {
    height: 60px;
    margin-top: 45px;
}

h1 {
    margin: 0;
    font-size: 46px;
}

.info-articolo {
    color: gray;
}

a {
    text-decoration: none;
    color: #29ACE6;
}

main {
    padding: 10px;
}

#autore {
    font-size: 22px;
}

#data {
    font-size: 15px;
}

.foto {
    margin-top: 20px;
}

.foto > img {
    height: 415px;
}

.foto > figcaption {
    font-size: 14px;
}

.articolo {
    font-size: 20px;
}

.articolo > ul {
    margin: 0;
}