* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    padding: 10px;
    height: 120px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-repeat: repeat;
    background-size: 450px;
}

header img {
    height: 60px;
    margin-top: 45px;
}

h1 {
    margin: 0;
    font-size: 46px;
}

.info-articolo {
    color: gray;
}

a {
    text-decoration: none;
    color: #29ACE6;
}

main {
    padding: 10px;
}

#autore {
    font-size: 22px;
}

#data {
    font-size: 15px;
}

.foto {
    margin-top: 20px;
}

.foto > img {
    height: 415px;
}

.foto > figcaption {
    font-size: 14px;
}

.articolo {
    font-size: 20px;
    margin-bottom: 30px;
}

.articolo > ul {
    margin: 0;
}

.dati {
    width: 100%;
}

thead {
    text-align: left;
    background-color: #20A9E5;
    color: white;
}

.dispari {
    background-color: #B1E5F2;
}

.pari {
    background-color: white;
}

.descrizione {
    width: 50%;
}

.evidenza {
    background-color: yellow;
}

h3 {
    color: gray;
}

.correlati {
    margin-top: 20px;
    font-size: 25px;
    color: white;
    padding: 25px;
    height: 200px;
    width: 300px;
    font-weight: 800;
}

.pc {
    background-image: url("../img/monitor.jpg");
    background-size: cover;
}

.map {
    background-image: url("../img/graph.jpg");
    background-size: cover;
}
