* {
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    padding-left: 10px;
    height: 120px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 40%;
}

header > img {
    height: 60px;
    margin-top: 55px;
}

h1 {
    margin: 0;
    font-size: 46px;
}

.info-articolo {
    color: gray;
}

a {
    text-decoration: none;
    color: #29ACE6;
}

main {
    padding: 10px;
}

#autore {
    font-size: 22px;
}

#data {
    font-size: 15px;
}

.foto {
    margin-top: 20px;
}

.foto > img {
    height: 415px;
}

.foto > figcaption {
    font-size: 14px;
}

.articolo {
    font-size: 20px;
    margin-bottom: 30px;
}

.articolo > ul {
    margin-bottom: 25px;
    list-style-position: inside;
    padding-inline-start: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;
    background-color: #20A9E5;
    color: white;
}

.dispari {
    background-color: #B1E5F2;
}

.pari {
    background-color: white;
}

.mark {
    background-color: yellow;
}

footer > h3 {
    color: gray;
    margin: 0;
}

.correlati {
    margin-top: 20px;
    font-size: 25px;
    color: white;
    padding: 25px;
    height: 200px;
    width: 300px;
    font-weight: 800;
    background-size: cover;
}

.pc {
    background-image: url("../img/monitor.jpg");
}

.map {
    background-image: url("../img/graph.jpg");
    
}
